<div class="hero mb-5">
    <div class="container">
        <div class="row pt-4">
            <div class="col-sm-12">
                <h2><span class="badge rounded-pill text-bg-warning fw-normal">May 23-24, 2025</span></h2>
                <h2><span class="badge rounded-pill text-bg-warning fw-normal">Santral Istanbul</span></h2>
                <h2>
                    <span class="badge rounded-pill text-bg-danger fw-normal">
                        This event has passed.
                    </span>
                </h2>
                <h2>
                    <span class="badge rounded-pill text-bg-danger fw-normal">
                        <a href="https://kcd.istanbul" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" >
                            Stay tuned for upcoming events!
                        </a>
                    </span>
                </h2>
                <div class="mt-4">
                    <h1 class="display-4">Kubernetes Community Days Istanbul</h1>
                </div>
            </div>
        </div>
        <h1 class="lead fs-4">
            Visit our
            <a href="https://community.cncf.io/events/details/cncf-kcd-istanbul-presents-kcd-istanbul-2025/" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" target="_blank">
                CNCF community page</a> to see the event details.
        </h1>
        <div class="row pt-4">
            <div class="col-sm-6">
                <h1 class="lead fs-4">
                    The 3rd edition of Kubernetes Community Days Istanbul was held on May 23-24, 2025 in Santral Istanbul.
                    <br/>
                    <br/>
                    We were excited to bring the community together again for two days of learning and networking.
                </h1>
            </div>
            <div class="col-sm-6 pb-4">
                <img src="/right-banner.png" class="img-fluid"/>
            </div>
        </div>
    </div>
</div>
